---
import BlogList from '@/partials/BlogList';
import type { Content } from '@/partials/BlogPost';
import { Section } from '@/partials/Section';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

type GetStaticPaths = {
  paginate: any;
};

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<Content>('./*.md');
  const sortedPosts = sortByDate(allPosts);
  return paginate(sortedPosts, { pageSize: 6 });
}

const { page } = Astro.props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Blog page ${page.currentPage}`;
const title = titleBase + titleSuffix;
const description = 'Pagination example';
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold">Random title here</h1>

      <div class="mt-3 text-gray-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
  </Section>
  <Section>
    <BlogList posts={page.data} />
  </Section>
  <Section>
    <div class="flex justify-center gap-8">
      {page.url.prev && <a href={page.url.prev}>← Newer Posts</a>}
      {page.url.next && <a href={page.url.next}>Older Posts →</a>}
    </div>
  </Section>
</Base>
