---
import { type CollectionEntry, getCollection } from 'astro:content';

import BlogList from '@/partials/BlogList.astro';
import Section from '@/partials/Section.astro';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/app-config';
import { sortByDate } from '@/utils/post';

type GetStaticPaths = {
  paginate: any;
};

interface Props {
  page: {
    currentPage: number;
    data: CollectionEntry<'blog'>[];
    url: {
      next?: string;
      prev?: string;
    };
  };
}

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await getCollection('blog');
  const sortedPosts = sortByDate(allPosts);
  return paginate(sortedPosts, { pageSize: 6 });
}

const { page } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Blog page ${page.currentPage}`;
const title = titleBase + titleSuffix;
const description = 'Blog List';
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="animate-fade-up text-3xl font-bold">New Blog Post</h1>
    </div>
  </Section>
  <Section>
    <BlogList posts={page.data} />
  </Section>
  <Section>
    <div class="flex justify-center gap-8">
      {page.url.prev && <a href={page.url.prev}>← Newer Posts</a>}
      {page.url.next && <a href={page.url.next}>Older Posts →</a>}
    </div>
  </Section>
</Base>
