---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { format } from 'date-fns';

import { AppConfig } from '@/utils/app-config';

import Section from './Section.astro';

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props as Props;
---

<script>
  let copyButtonLabel = 'Copy Code';
  let codeBlocks = Array.from(document.querySelectorAll('pre'));

  async function copyCode(block: HTMLPreElement, button: HTMLButtonElement) {
    let code = block.querySelector('code');
    let text = code!.innerText;

    await navigator.clipboard.writeText(text);

    button.innerText = 'Code Copied';

    setTimeout(() => {
      button.innerText = copyButtonLabel;
    }, 700);
  }

  for (let codeBlock of codeBlocks) {
    let wrapper = document.createElement('div');
    wrapper.style.position = 'relative';
    let copyButton = document.createElement('button');
    copyButton.className = 'hover:bg-white hover:text-black absolute top-0 right-0 bg-gray-900 px-2';
    copyButton.innerHTML = copyButtonLabel;
    codeBlock.setAttribute('tabindex', '0');
    codeBlock.appendChild(copyButton);
    codeBlock.parentNode!.insertBefore(wrapper, codeBlock);
    wrapper.appendChild(codeBlock);

    copyButton.addEventListener('click', async () => {
      await copyCode(codeBlock, copyButton);
    });
  }
</script>

<Section>
  <h1 class="text-center text-3xl font-bold">{post.data.title}</h1>
  <div class="mt-2 text-center text-sm text-foreground/80">
    By {AppConfig.author} on {format(new Date(post.data.pubDate), 'LLL d, yyyy')}
  </div>
  <div class="mx-auto mt-5 max-w-prose">
    <Image
      width="1000"
      height="1000"
      class="w-full"
      src={post.data.imgSrc}
      alt={post.data.imgAlt}
      loading="lazy"
      format="webp"
      transition:name={`post-image-${post.slug}`}
    />
    <div class="prose prose-zinc mt-8 text-foreground dark:prose-invert prose-img:rounded-lg">
      <slot />
    </div>
  </div>
</Section>
