---
import { format } from 'date-fns';
import type { MarkdownInstance } from 'astro';
import type { Content } from '@/partials/BlogPost.astro';

interface Props {
  post: MarkdownInstance<Content>;
}

const { post } = Astro.props as Props;
---

<a class="hover:translate-y-1" href={post.url}>
  <div class="overflow-hidden rounded-md bg-slate-800">
    <div class="aspect-h-2 aspect-w-3">
      <img
        class="h-full w-full object-cover object-center"
        src={post.frontmatter.imgSrc}
        alt={post.frontmatter.imgAlt}
        loading="lazy"
      />
    </div>
    <div class="px-3 pb-6 pt-4 text-center">
      <h2 class="text-xl font-semibold">{post.frontmatter.title}</h2>
      <div class="mt-1 text-xs text-gray-400">{format(new Date(post.frontmatter.pubDate), 'LLL d, yyyy')}</div>
      <div class="mt-2 text-sm">{post.frontmatter.description}</div>
    </div>
  </div>
</a>
