---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { format } from 'date-fns';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props as Props;
---

<a class="hover:translate-y-1" href={`/posts/${post.slug}`}>
  <div class="overflow-hidden rounded-md shadow-md dark:bg-slate-800">
    <Image
      width="600"
      height="600"
      class="aspect-[3/2] w-full"
      src={post.data.imgSrc}
      alt={post.data.imgAlt}
      loading="lazy"
      format="webp"
      transition:name={`post-image-${post.slug}`}
    />
    <div class="px-3 pb-6 pt-4 text-center">
      <h2 class="text-xl font-semibold" transition:name={`post-title-${post.slug}`}>{post.data.title}</h2>
      <div class="mt-1 text-xs text-gray-400">{format(new Date(post.data.pubDate), 'LLL d, yyyy')}</div>
      <div class="mt-2 line-clamp-3 text-sm">{post.data.description}</div>
    </div>
  </div>
</a>
